.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

/* box styling */
.wrapper>* {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

/* Sections styling */
.header {
    background: darkgreen;
    min-height: 120px;
}

.hero {
    height: 600px;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    font-size: x-large;
    color: whitesmoke
}

.introduction {
    background: darkgreen;
    text-align: center;
    min-height: 200px;
    font-size: 100%;
}

.footer {
    background: black;
    min-height: 80px;
}

/*main {
    text-align: center;
    background: blueviolet;
    min-height: 100px;
    font-size: 110%;
    letter-spacing: 4px;
}*/


.aside1 {
    background: purple;
}

.aside2 {
    background: yellow;
}

@media all and (min-width: 800px) {
    .main {
        flex: 2;
    }

    .aside1 {
        order: 1;
    }

    .aside2 {
        order: 2;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 4;
    }
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1;
    }
}