wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

wrapper>* {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header {
    background: black;
    height: 120px;
}

.footer {
    background: black;
    height: 80px;
}

.main {
    text-align: left;
    background: blueviolet;
    height: 300px;
    font-size: 24px;
}

.aside1 {
    background: purple;
}

.aside2 {
    background: yellow;
}